[submodule "cluster-addons"]
	path = cluster-addons
	url = https://github.com/rayabueg/gitops-lab.git
[submodule "lima"]
	path = lima
	url = https://github.com/rayabueg/lima.git
[submodule "cluster-applications"]
	path = cluster-applications
	url = https://github.com/rayabueg/cluster-applications.git
